body {
    font-family:  sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa;
}
/* Container */
.container {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    margin-top: 120px;
    padding-top: 60px; /* Padding for the fixed header */
    margin: 50px;
  
    padding-bottom: 10px;
}
/* Parent Section */
.dashboard {
    flex-grow: 1;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
section {
    margin-bottom: 2rem;
}
section h2{
    align:center
}

/* Dashboard */
.dashboard {
    flex-grow: 1;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Payment Section */
.payment-section {
    text-align: center;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

/* Heading */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Table Styling */
.payment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.payment-table th, .payment-table td {
    text-align: center;
    padding: 15px 10px;
    border-bottom: 1px solid #e1e4e8;
    font-size: 16px;
}

.payment-table th {
    background-color: #009688;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.payment-table tr:nth-child(even) {
    background-color: #f9fbfd;
}

.payment-table tr:hover {
    background-color: #f1f5f9;
    transition: 0.3s ease;
}

.payment-table td {
    color: #555;
}

.payment-table .status-paid {
    color: #28a745;
    font-weight: 600;
}

.payment-table .status-pending {
    color: #e74c3c;
    font-weight: 600;
}

.styled-back-button {
    background-color: #535455; /* Blue background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.styled-back-button:hover {
    background-color: #535455;/* Darker blue on hover */
}
