/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    
}



.content-wrapper {
    padding-top: 60px; /* Padding for the fixed header */
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
   
}
.resource-container {
    display: flex;
    margin: 10px;
    
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.breadcrumb {
    
    margin: 20px 0;
    color: #777;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 10px;
}

.search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

.search-btn {
    background-color:  #ddd;
    color: white;
    border: none;
    margin-left: 5px;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}


.sidebar {
    width: 25%;
    padding: 20px;
    margin-right: 20px;
    height: 150px;
    border-radius: 8px;
    background-color: #f8f8ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar h2 {
    margin-bottom: 25px;
    
}

.filter {
    margin-bottom: 20px;
    
}

.filter label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.resource-list {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resource {
    display: flex;
    background-color: #f8f8ff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resource img {
    width: auto;
    height: 150px;
    margin-right: 40px;
    border-radius: 8px;
    
}

.resource-info {
    flex: 1;
}

.resource-info h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.resource-info p {
    margin-bottom: 10px;
    color: #555;
}

button {
    background-color: #ff5722;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
    
}

button:hover {
    background-color: #e69500;
}

.pagination {
    text-align: center;
    padding: 10px 0;
    
}

.pagination a {
    padding: 8px 15px;
    margin: 0 5px;
    background-color: #009688;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.pagination a.active {
    background-color: #ff5722;
}

/* Position the Add Resource button */
.add-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.add-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-btn:hover {
    background-color: #45a049;
}
